@{
    ViewData["Title"] = @SharedLocalizer["HomePage"];
}

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["Welcome"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">@SharedLocalizer["build"] ASP.NET Core</a>.</p>
</div>
